:root {
  --bg-color-primary: #18191a;
  --bg-color-secondary: #242526;

  --btn-color: #1859b1;
  --btn-color-hover: #13478d;
  --font-color-primary: #ffffff;
  --input-color: #3a3b3c;
  --outline-color: #ffffff;
  --max-content-width: 700px;

  --navbar-height: 50px;
}
