<h1>
  Welcome to Odin Facebook, <%= @user.profile.name %> 
</h1>

<p>
  You have successfully signed up to example.com.
</p>

<p>
  To login to the site, follow this link: <%= link_to 'Log in', @url %>
</p>

<p>
  Thanks for joining and have a great day!
</p>