<% @posts.each do |post| %>
  <div class="post">
    <div class="postAuthor">
      <b>User:</b> <%= link_to post.user.name, user_path(post.user) %>
    </div>
    <div class="post_body">
      <b>Post:</b> <%= post.body%>
    </div>
    <div class="likes">
      <b>Likes:</b> <%= post.likes.count %>
    </div>
    <div class="comments">
      <b>Comments:</b>
    </div>
    <br>
  </div>
<% end %>
