@import 'mixins/mixins.scss';

.post-form {
  @include boxStyles();
  padding: 16px;

  form {
    display: grid;

    .post-text-label {
      display: none;
    }

    textarea {
      height: 100px;
      margin-bottom: 4px;
    }

    input[type='file'] {
      display: none;
    }

    .img-label {
      border: 1px solid white;
      border-radius: 15px;
      margin-bottom: 4px;

      &:hover {
        background-color: #1c1d1e;
      }

      &:hover .img-icon {
        transform: scale(1.05);
      }

      .img-icon {
        max-width: 50px;
        @include hoverGrow;
        display: block;
        margin: auto;
        margin-bottom: 4px;
        transition: scale 0.1s ease-in-out;
      }
    }
  }

  .preview-container {
    position: relative;
    max-width: 95%;

    .image-preview {
      display: block;
      margin: auto;
      border-radius: 10px;
      width: 100%;
    }

    .x-container {
      position: absolute;
      top: 0;
      right: 0;
      margin: 8px;
      background-color: rgba($color: white, $alpha: 0.2);
      border-radius: 15px;
      opacity: 0;

      &.visible {
        opacity: 1;
      }
    }

    .x {
      height: 50px;
      @include hoverGrow;
    }
  }
}

@include screensUnderContentSize {
  .post-form {
    padding: 8px;
  }
}
